.container {
    max-width: 980px;
    margin: auto;
    display: block;
    background: #fff;
    padding: 16px 16px 160px 16px;
}

body {
    max-width: 1920px;
    min-width: 320px;
    /*background: #eee;*/
    margin: 0 auto;
    font-family: 'YuGothic', 'Arial', sans-serif;
}

.games-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.game-box {
    width: calc(33% - 24px);
    margin-right: 24px;
    margin-bottom: 32px;
    box-shadow: 1px 1px 4px #ddd;
}

.game-box:nth-child(3n) {
    margin-right: 0;
}

.game-box a {
    display: block;
}

.game-box a:hover img {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.game-box a img {
    width: 100%;
    height: auto;
}

.game-text-box {
    padding: 8px;
}

.game-text-box h2 {
    margin: 0;
    font-size: 1.2em;
}

.game-text-box h2 a {
    color: black;
    text-decoration: none;
}

.game-text-box h2 a:hover {
    text-decoration: underline;
}

.game-text-box p {
    color: #555;
}

/**********************footer************************/

footer {
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 32px 0;
}

.footer-sns {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 12px;
    justify-content: flex-end;
}

.footer-sns a {
    display: inline-block;
    text-decoration: none;
}

.footer-sns a img {
    width: 32px;
    margin: 0 12px;
}

.copyright {
    text-align: center;
    font-size: smaller;
}

@media only screen and (max-width: 640px) {
    footer {
        position: relative;
    }

    .footer-sns {
        margin: auto;
        justify-content: center;
    }

    .images-box img {
        width: 46%;
    }

    .games-list {
        margin: auto;
        display: block;
    }

    .game-box {
        width: 100%;
    }
}